<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Tech Blog</title>
  </head>

  <body>
  <nav class="bg-[rgb(46,20,20)] h-36">
    <div>
      <ul
        class="flex flex-row gap-16 ml-20 pt-7 text-lg text-[rgb(186,220,157)]"
      >
        <a class="hover:text-[rgb(124,238,24)]" href="/">Home</a>
        <a class="hover:text-[rgb(124,238,24)]" href="/dashboard">Dashboard</a>
        {{#if logged_in}}
        <a class="hover:text-[rgb(124,238,24)]" id="logout" href="/">Logout</a>
        {{else}}
        <a class="hover:text-[rgb(124,238,24)]" href="/login">Login</a>
        {{/if}}
      </ul>
    </div>

    <div
      class="flex flex-row bg-[rgb(186,220,157)] w-48 mt-6 ml-24 mr-[40rem] place-content-center pt-1 pb-1 rounded-md shadow-[6px_7px_2px_1px_#DEE8D6]"
    >
      <h1 class="font-bold text-2xl">The Tech Blog</h1>
    </div>
  </nav>
    <main>
        {{{body}}}
    </main>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>



</html>
