<section class="justify-self-center">
<h1 class="bg-[rgb(46,20,20)] text-[rgb(186,220,157)] p-2 pl-[4vw] text-xl">Dashboard</h1>
 
 {{#each posts as |post|}}
<a class="grid justify-items-center mt-6" href="/editPost/{{post.id}}">
     
<div
      class="flex flex-row space-between self-center justify-between bg-[rgb(96,96,96)] hover:scale-105 hover:duration-700 duration-700 text-white w-[90%] mt-4 mb-2 rounded-md p-2"
    >
     <p class="font-bold">{{post.title}}</p>
          <p>Posted by {{post.author.username}} on {{format_date post.post_created_date}}</p>
    
    </div>
        
    </a>

    {{/each}}

    

    <div class="self-center mt-4 rounded-lg flex flex-col justify-center hover:scale-105 hover:duration-700 duration-700">
          <div
            class="flex self-center rounded-lg w-[9rem] h-[2.2rem] mb-5 place-content-center text-[rgb(186,220,157)] hover:text-[rgb(124,238,24)] text-xl bg-[rgb(46,20,20)] hover:bg-[rgb(71,36,36)]"
          >
            <a href="/createNewPost">+ New Post</a>
          </div>
        </div>


</section>