<section class="justify-self-center bg-[rgb(186,220,157)]">

 
 {{#each posts as |post|}}
<a class="grid justify-items-center mt-6" href="/editPost">
      <div
        class="flex flex-col text-lg w-11/12 border-solid border-4 border-[rgb(46,20,20)]"
      >
        <div
          class="flex flex-row justify-between pt-2 pb-2 pl-3 pr-3 text-[rgb(186,220,157)] bg-[rgb(46,20,20)]"
        >
          <p class="font-bold">{{post.title}}</p>
          <p>Posted by {{post.author.username}} on {{format_date post.post_created_date}}</p>
        </div>

        <p class="p-3">
         {{post.content}}
        </p>
      </div>
    </a>

    {{/each}}

    <div class="grid justify-items-center mt-6">
      <div
        class="flex flex-col text-lg w-11/12 border-solid border-4 border-[rgb(46,20,20)]"
      >
        <div class="pt-7 pb-2 pl-3 bg-[rgb(46,20,20)]"></div>

        <div class="flex flex-col gap-3 pl-3 pt-8 pb-8 mb-3">
          <p>I just leaned about this in my class!</p>
          <p>-Test-user1,19/04/2023</p>
        </div>
      </div>
    </div>

    <div class="self-center mt-4 rounded-lg flex flex-col justify-center">
          <div
            class="flex self-center rounded-lg w-[9rem] h-[2.2rem] mb-5 place-content-center text-[rgb(186,220,157)] hover:text-[rgb(124,238,24)] text-xl bg-[rgb(46,20,20)] hover:bg-[rgb(71,36,36)]"
          >
            <a href="/createNewPost">+ New Post</a>
          </div>
        </div>


</section>