<section class="justify-self-center bg-[rgb(186,220,157)]">
  <div class="grid justify-items-center mt-6">
    <div
      class="flex flex-col text-lg w-11/12 border-solid border-4 border-[rgb(46,20,20)]"
    >
      <div class="pt-2 pb-2 pl-3 text-[rgb(186,220,157)] bg-[rgb(46,20,20)]">
        <p>Sign Up</p>
      </div>

      <div class="pl-3 pt-2 font-bold">
        <p>Username</p>
      </div>

      <div class="pl-3">
        <input id="userNameField"
          class="w-[99%] h-9 rounded-md pl-2 focus:outline-none focus:ring-2 focus:ring-blue-600"
          type="text"
          placeholder="Enter username"
        />
      </div>

      <div class="pl-3 pt-2 font-bold">
        <p>Password</p>
      </div>

      <div class="pl-3">
        <input id="passwordField"
          class="w-[99%] h-9 rounded-md pl-2 focus:outline-none focus:ring-2 focus:ring-blue-600"
          type="password"
          placeholder="Enter Password"
        />
      </div>

      <div class="pl-3 pt-2 font-bold">
        <p>Confirm Password</p>
      </div>

      <div class="pl-3">
        <input id="confirmPasswordField"
          class="w-[99%] h-9 rounded-md pl-2 focus:outline-none focus:ring-2 focus:ring-blue-600"
          type="password"
          placeholder="Re-enter Password"
        />
      </div>

      <div
        class="pl-3 pt-1 mt-2 text-[rgb(186,220,157)] hover:text-[rgb(124,238,24)] font-bold"
      >
        <button id="signupButton"
          class="bg-[rgb(96,96,96)] hover:bg-[rgb(128,128,128)] w-[99%] h-9 rounded-md pl-2 transition duration-700 ease-in-out hover:scale-x-90 hover:duration-700 duration-700"
        >
          Sign Up!
        </button>
      </div>
      <div
        class="pl-3 pt-1 mb-4 text-[rgb(0,0,153)] hover:text-[rgb(0,128,255)] font-bold transition duration-700 ease-in-out"
      >
        <a href="/login">Login instead</a>
      </div>
    </div>
  </div>
</section>
<script src="./js/signup.js"></script>